
.animate-button-pulse:not(:disabled) {
    animation: buttonPulse 2s infinite;
}

.animate-cart-shake {
  animation: cartShake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}
